<h2> 
    <%= @food.name %>  
</h2> 

<br>

<div>
    <ul>
        <p> :The Price? <%= @food.price %> </li> </p>
        
        <p> :How was it? <%= @food.description %> </p>

        <p> :Was it Healthy? <% if @food.healthy %>
            Yes Healthy 
            <% elsif @food.healthy == false %>
            nope!
            <% else %>
            Not sure!
            <% end %>
        </p>  
    </ul>
</div>

<div>
    <a class="btn btn-outline-success" href="/foods" role="button">Complete Entry</a>
    <a class="btn btn-outline-warning" href="/foods/<%= @food.id %>/edit" role="button">Update Entry</a>
        <br>
        <div>
        <form action="/foods/<%= @food.id %>" method ="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Food Entry">
        </form>
        </div>
</div>