<h2> 
    <%= @food.name %>  
</h2> 
<br>

<ul>
<a href= "/foods/<%= @food.id %>/edit"> update entry </a> 
<br>

<div>
    <p> :The Price? <%= @food.price %> </li> </p>

    <p> :How was it? <%= @food.description %> </p>

    <p> :Was it Healthy? <% if @food.healthy %>
        Yes Healthy 
        <% elsif @food.healthy == false %>
        nope!
        <% else %>
        Not sure!
        <% end %>
    </p>  
</div>
    <br>
</ul>
    <form action="/foods/<%= @food.id %>" method ="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Food Entry">

    </form>
    <br>
 