
<h1> <%= @food.name %>  </h1> <br>
<ul>
<a href= "/foods/<%= @food.id %>/edit"> update entry </a> 
<br>


    <p> :The Price? <%= @food.price %> </li> </p>

    <p> :How was it? <%= @food.description %> </p>

    <p> :Was it Healthy? <%= @food.healthy%> </p>  <br>

    <form action="/foods/<%= @food.id %>" method ="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Food Entry">

    </form>
    <br>
 
</ul>